<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
    <add
        key="UiBaseUrl"
        value="https://phptravels.net/"
    />
   <add
        key="RegularUserEmail"
        value="user@phptravels.com"
    />  
      <add
        key="RegularUserPass"
        value="demouser"
    />   
      <add
        key="SupplierUserEmail"
        value="supplier@phptravels.com"
    />  
      <add
        key="SupplierUserPass"
        value="demosupplier"
    />      
      <add
        key="AdminUserEmail"
        value="admin@phptravels.com"
    />  
      <add
        key="AdminUserPass"
        value="demoadmin"
    />
</appSettings>
</configuration>